@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebe3f9;
}

header{
    background-color: #2f2d31;
    width: 100%;
    height: 60px;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
}

.menu{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Rokkitt", serif;
    font-weight: 500;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 40px 40px;
    gap: 15px;
}

.description{
    background-color: #fff;
    width: 1000px;
    height: 1000px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}

.contactform {
    padding: 10px;
    font-family: "Sofia Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: #2f2d31;
    text-transform: uppercase;
    text-align: center;
}

.contactform textarea{
    resize: none;
    height: 200px;
}

.contactform input, .contactform textarea {
    width: 100%;
    margin: 10px;
    font-size: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #EBE3F9;
    outline: none;
    border-radius: 2px;
    color: #2f2d31;
}

.contactform .submitbtn {
    margin-top: 20px;
    text-align: center;
}

.contactform button {
    padding: 5px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #D3CCE0;
    color: #fff;
    font-size: 25px;
    font-family: "Rokkitt", serif;
}

.submitbtn:hover {
    opacity: 0.50;
}

.icons{
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-snapchat {
    background: #FFCC00;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

h4{
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: "Rokkitt", serif;
}

footer{
    background-color: #bcb5cf;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Rokkitt", serif;
}

.links{
    color: black;
    text-decoration: none;
}